<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test application</title>

  <!-- style -->
  <link rel="stylesheet" href="./styles/css/config.min.css">

  <!-- vue -->
  <script src="./scripts/app.prod.js" type="module"></script>
  <script src="./scripts/vue.global.js"></script>

</head>
<body id="app" v-cloak>

  <div class="lds-roller" v-if="!loader">
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
  </div>
  
  <audio style="display: none;" ref="audioplayer" preload="metadata" @loadedmetadata="updateProgress" @timeupdate="updateProgress" @ended="audioplayer.repeat !== audioplayer.current && audioplayer.current++, setSong()"></audio>
  <video v-show="loader" class="videoplayer" loop ref="videoplayer"></video>
  
  <article v-show="loader" class="audioplayer" v-show="audioplayer?.song">
    <h1 class="audioplayer__title">{{ audioplayer.song?.title || 'Empty' }}</h1>
    <p class="audioplayer__description">{{ audioplayer.song?.description || 'Empty' }}</p>

    <div class="audioplayer__progress-bar">
      <p class="audioplayer__last-time">{{ toTime( audioplayer?.currentTime ) || 'infinity' }}</p>
      <input class="line" type="range" min="0" :max="audioplayer?.duration" v-model="audioplayer.currentTime" @mousedown="stopReder = false" @mouseup="setProgress">
      <p class="audioplayer__end-time">{{ toTime( audioplayer?.duration ) || 'infinity' }}</p>
    </div>

    <div class="audioplayer__controller">
      <input class="audioplayer__volume" type="range" min="0" max="100" v-model="currentVolume" v-show="showVolume">
      <img class="audioplayer__icon audioplayer__icon_small audioplayer__icon_favorite" src="./assets/icon/favorite.svg" @click="showVolume = !showVolume">
      <img class="audioplayer__icon audioplayer__icon_medium audioplayer__icon_reverse" src="./assets/icon/next.svg" @click="pauseSong(), pauseVideo(), --audioplayer.current, setSong(), audioplayer.repeat !== false && (audioplayer.repeat = audioplayer.current)">
      <img class="audioplayer__icon audioplayer__icon_large" src="./assets/icon/play.svg" v-if="audioplayer.status" @click="playSong(), playVideo()">
      <img class="audioplayer__icon audioplayer__icon_large" src="./assets/icon/pause.svg" v-else @click="pauseSong(), pauseVideo()">
      <img class="audioplayer__icon audioplayer__icon_medium" src="./assets/icon/next.svg" @click="pauseSong(), pauseVideo(), ++audioplayer.current, setSong(), audioplayer.repeat !== false && (audioplayer.repeat = audioplayer.current)">
      <img class="audioplayer__icon audioplayer__icon_small" src="./assets/icon/reload.svg" @click="audioplayer.repeat === audioplayer.current ? ( audioplayer.repeat = false ) : ( audioplayer.repeat = audioplayer.current )" :class="{ 'active': audioplayer.repeat || audioplayer.repeat === 0 }">
    </div>
  </article>

  <Transition name="list">
    <div class="song-list" v-if="showListSong">
      <p 
        @click="loader && ( 
          clearSong(), 
          clearVideo(), 
          pauseSong(), 
          pauseVideo(), 
          audioplayer.current = index, 
          setSong(), 
          audioplayer.repeat !== false && (audioplayer.repeat = audioplayer.current) )
        "
        :class="['song-list__item', { 'active': index === audioplayer.current }]"
        v-for="( el, index ) in songs" :key="index"
      >
        {{ index + 1 }}. {{ el.title }} {{ el.description }}
      </p>
  
      <p class="song-list__alert-text">{{ alertText  }}</p>
    </div>
  </Transition>

  <div 
    @click="showListSong = !showListSong"
    :class="['btn btn_burger', { active: showListSong }]"
  >
    <div class="btn__item"></div>
    <div class="btn__item"></div>
    <div class="btn__item"></div>
  </div>